/* Brand Style */
.container-brands {
  width: 80vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 0;
}

.container-brands > h1 {
  font-size: 32px;
  font-weight: bold;
}

.container-brands > .box-brand {
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
  margin: 30px 0;
  border-radius: 15px;
  background-color: var(--color-basic);
  transition: 0.5s;
}

.container-brands > .box-brand:hover {
  box-shadow: 0 10px 34px -15px var(--box-shadow-normal);
}

.container-brands > .box-brand > span {
  position: relative;
  top: 0%;
  left: 0%;
  box-shadow: 0 10px 34px -15px rgba(0, 0, 0, 0.203);
  color: var(--color-error);
}
.container-brands > .box-brand > span > i {
  font-size: 22px;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.container-brands > .box-brand > span > i:hover {
  color: var(--color-main);
}

.container-brands > .box-brand > img {
  width: 30%;
  height: 70px;
}

.container-brands > .box-brand > .head-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 30px;
}

.container-brands > .box-brand > .head-box > h1 {
  font-size: 16px;
  font-weight: bold;
}
.container-brands > .box-brand > .head-box > h1 > span {
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}
